body {
  --text-color: #eee;
  --bg-color: #121212;
}
body.light-theme {
  --text-color: #222;
  --bg-color: #fff;
}

* {
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 5rem;
}

@media (prefers-color-scheme: light) {
  /* defaults to light theme */
  body {
    --text-color: #222;
    --bg-color: #fff;
  }
  body.dark-theme {
    --text-color: #eee;
    --bg-color: #121212;
  }
}