* {
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);

  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

h1 {
  font-size: 5rem;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

footer ul li {
  margin-right: 2rem;
}

footer ul li:not(:last-child)::after {
  content: "|";
  margin-left: 2rem;
}

a {
  color: #89b4fa;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: #eee;
    --bg-color: #121212;
  }
}

@media (prefers-color-scheme: light) {
  body {
    --text-color: #222;
    --bg-color: #fff;
  }
}