* {
  font-family: Arial, sans-serif;
}

body {
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);


  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  * {
    --text-color: #cdd6f4;
    --bg-color: #1e1e2e;
  }
}

@media (prefers-color-scheme: light) {
  * {
    --text-color: #4c4f69;
    --bg-color: #eff1f5;
  }
}