body {
  display: grid;
  place-content: center center;
  height: 100vh;
  margin: 0;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  * {
    --text-color: #cdd6f4;
    --bg-color: #1e1e2e;
  }
}

@media (prefers-color-scheme: light) {
  * {
    --text-color: #4c4f69;
    --bg-color: #eff1f5;
  }
}